/public
resources/
node_modules/
package-lock.json
.hugo_build.lock
.cspell/
.vscode/ltex.dictionary.en-US.txt
./static/_pagefind
.score-compose/state.yaml
.score-compose/zz-default.provisioners.yaml
.score-compose/mounts/routing-QXKXWL/nginx.conf
compose.yaml
.prettierignore