//
// Style Markdown content
//

.td-content {
  order: 1;

  p,
  li,
  td {
    font-size: $font-body-md;
    font-weight: $font-regular;
  }

  > h1 {
    font-size: $font-heading-xl;
    font-weight: $font-bold;
    margin-bottom: 1rem;
  }

  > h2 {
    font-size: $font-heading-lg;
    font-weight: $font-medium;
    margin-bottom: 1rem;
  }

  > h2:not(:first-child) {
    margin-top: 3rem;
  }

  > h2 + h3 {
    margin-top: 1rem;
  }

  > h3,
  > h4,
  > h5,
  > h6 {
    font-size: $font-heading-md;
    font-weight: $font-regular;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  img {
    @extend .img-fluid;
  }

  > table {
    @extend .table-striped;

    @extend .table-responsive;

    @extend .table;

    > thead > tr > th {
      border: none;
    }
  }

  > blockquote {
    padding: 0 0 0 1rem;
    margin-bottom: $spacer;
    color: $gray-600;
    border-left: 6px solid $secondary;
  }

  strong {
    font-weight: $font-weight-bold;
  }

  > pre,
  > .highlight,
  > .lead,
  > h1,
  > h2,
  > ul,
  > ol,
  > p,
  > blockquote,
  > dl dd,
  .footnotes,
  > .alert {
    @extend .td-max-width-on-larger-screens;
  }

  .highlight,
  .highlight pre {
    border-radius: 14px;
    position: relative;

    span {
      font-family: "IBMPlexMono";
    }
  }

  .alert:not(:first-child) {
    margin-top: 2 * $spacer;
    margin-bottom: 2 * $spacer;
  }

  .lead {
    font-weight: $font-regular;
    font-size: $font-body-lg;
    margin-bottom: 1.5rem;
  }

  .nav-tabs {
    border-bottom-color: $primary;
  }

  .nav-link {
    border-radius: 14px 14px 0 0;
    font-weight: 500;
  }

  .nav-tabs .nav-link.active {
    border-color: $primary;
    border-bottom-color: white;
    color: $dark;
  }

  .nav-link:not(.active) {
    color: $grey-3 !important;
    border: none;
  }

  .nav-link:hover {
    text-decoration: none;
  }
}

.td-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

.reading-time {
  color: $grey-3;
  font-weight: $font-regular;
  font-size: $font-body-sm;
}

.mermaid {
    display: flex;
    justify-content: center;
    margin: 10px 0px 25px 0px
}
