.examples-page {
  margin-top: 6rem;
  border: none;

  [data-dark-mode] & {
    border: none;
  }

  .lead {
    font-size: 1rem;
    color: $electric-blue;
    font-weight: $font-medium;
  }
}

.examples-pagecount {
  background-color: $gray-200;
  color: $gray-900;
  border-radius: 10px;
  font-size: 16px;
  padding: 0.25rem 1.5rem;

  [data-dark-mode] & {
    background-color: $gray-800;
    color: $white;
  }
}

.examples-sidebar {
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 25%;

  & .form-check,
  & .form-check-label {
    cursor: pointer;
  }

  & .form-check-input {
    background-color: $gray-200;
    color: $gray-900;
    border-radius: 0px;
    font-size: 16px;

    [data-dark-mode] & {
      background-color: $gray-800;
      color: $white;
    }

    &:checked {
      background-color: $electric-blue;
      color: $white;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.examples-content {
  width: 75%;
  margin-bottom: 2rem;

  &.docs-content {
    padding: 0;

    & h2 {
      margin-bottom: 0rem;
    }
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.examples-list-item {
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  -webkit-animation: fadeEffect 0.3s;
  animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
}

.examples-list-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;

  a {
    color: $electric-blue;
    font-size: 1.625rem;
    font-weight: $font-medium;
    text-decoration: none;
  }
}

.examples-parent-badge {
  background-color: $gray-200;
  color: $gray-900;
  border-radius: 10px;
  font-size: 16px;
  padding: 0.25rem 1rem;
  margin-left: 0.75rem;

  [data-dark-mode] & {
    background-color: $gray-800;
    color: $white;
  }
}

.gradient-image-card {
  position: relative;
  border-radius: 12px;
  border: 1px solid #d5d9e5;
  padding: 20px;
  margin-bottom: 1rem;

  [data-dark-mode] & {
    border: 1px solid rgba(33, 86, 246, 0.5);
  }
}

.gradient-image-card-content {
  position: relative;
  z-index: 10;
  max-width: 50%;
  font-size: $font-size-base;
}

.gradient-image-card-background {
  position: absolute;
  border-radius: 12px;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.gradient-image-card-gradient {
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(131, 177, 255, 0.5) 30%,
    rgba(9, 44, 148, 0.9)
  );

  [data-dark-mode] & {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(0, 24, 65, 0.5) 50%,
      rgba(0, 0, 0, 0.75)
    );
  }
}
