@font-face {
  font-family: Graphik;
  font-weight: 400;
  src: url("/fonts/Graphik/GraphikRegular.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 500;
  src: url("/fonts/Graphik/GraphikMedium.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 600;
  src: url("/fonts/Graphik/GraphikSemibold.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 700;
  src: url("/fonts/Graphik/GraphikBold.otf") format("opentype");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  src: url("/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf") format("truetype");
}
