//
// Right side toc
//
.td-sidebar-toc {
  border-left: 1px solid $border-color;

  @supports (position: sticky) {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }

  order: 2;
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  vertical-align: top;
}

.td-page-meta {
  a {
    display: block;
    font-style: normal;
    font-weight: $font-regular;
    font-size: 1rem;
    line-height: 22px;
    margin: 0.4rem 0;
    background: linear-gradient(
      89.75deg,
      $primary 0.15%,
      $primary 0.16%,
      $third 49.94%,
      $third 49.95%,
      $secondary 99.74%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    i {
      color: #d9297d;
    }
  }
}

.td-toc {
  margin-top: 4rem;

  a {
    display: block;
    font-weight: $font-weight-light;
    padding-bottom: 0.25rem;
  }

  li {
    list-style: none;
    display: block;
  }

  li li {
    margin-left: 0.5rem;
  }

  #TableOfContents {
    // Hugo's ToC is a mouthful, this can be used to style the top level h2 entries.
    > ul > li > ul > li > a {
    }

    a {
      color: $black;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  ul {
    padding-left: 0;
  }
}
