// Default text classes

//Todo add responsivity?
.heading-xl {
  font-size: $font-heading-xl;
  font-weight: $font-semibold;
}
.heading-lg {
  font-size: $font-heading-lg;
  font-weight: $font-medium;
}
.heading-md {
  font-size: $font-heading-md;
  font-weight: $font-regular;
}
.heading-sm {
  font-size: $font-heading-sm;
  font-weight: $font-semibold;
}

.body-lg {
  font-size: $font-body-lg;
  font-weight: $font-regular;
}
.body-md {
  font-size: $font-body-md;
  font-weight: $font-regular;
}

.body-sm {
  font-size: $font-body-sm;
  font-weight: $font-regular;
}

// New classes
.glossary-tag-container {
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 5px 0;
  margin-bottom: 10px;
}

.glossary-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.glossary-tag-description {
  text-align: center;
  visibility: hidden;
}

.glossary-tag-hidden-description {
  visibility: collapse;
}

.glossary-tag-option {
  background-color: #b7c8e8;
  padding: 5px;
  margin: 10px;
  a {
    color: white;
  }
}

.glossary-tag-option-all {
  padding: 5px;
  margin: 10px;
}

.glossary-tag-option.mixitup-control-active,
.glossary-active-tag {
  background-color: $primary;
}
