/*

Add styles or override variables from the theme here.

*/

$font-heading-xl: 2.375rem; //38px
$font-heading-lg: 2rem; //32px
$font-heading-md: 1.5rem; //24px
$font-heading-sm: 1.25rem; //20px

$font-body-lg: 1.25rem;
$font-body-md: 1rem;
$font-body-sm: 1rem;

$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;

//Colors
$dark: #151523;
$primary: #d9297d;
$secondary: #f18520;
$third: #e5574f;
$dark-2: #23232f;
$grey-3: #6c6c78;
$grey-4: #afafaf;

$td-enable-google-fonts: false;
