.nav-tabs {
  margin-bottom: 0;
  border-bottom: none;
}

.docs-content .doks-nav-item {
  margin-bottom: 0;

  &:first-child {
    margin-left: 0;
  }
}

.nav .nav-link {
  color: $gray-900;

  &:hover {
    background-color: $gray-100;
    border-color: transparent;
    border-bottom: 1px solid $gray-300;
  }

  &.active {
    color: $gray-900;
    background-color: $gray-100;
    border-color: $gray-300;
    border-bottom: 1px solid $white;
    transform: translateY(1px);
  }
}

.tab-content {
  border: 1px solid $gray-300;
  border-radius: 12px;
  border-top-left-radius: 0;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.tab-content.examples-tab-content {
  border-top: 1px solid $gray-300;
  padding-top: 20px;
  margin-bottom: 1.5rem;
}
