{{ $exampleLibrarySourcePath :=  site.Params.exampleLibrarySourcePath }}
{{ $metadata := site.Data.examplesMeta }}

{{ $sectionWithoutBase := index (split .section "/") 1 }}
{{ $folder := print $exampleLibrarySourcePath "/" $sectionWithoutBase }}

{{ $labels := slice }}
{{ range where site.Params.exampleTypeLabels "name" $sectionWithoutBase }}
  {{ $labels = .labels }}
{{ end }}

<div class="examples-sidebar">
  {{ if len .context.Pages }}
  <h3>{{ print $sectionWithoutBase | humanize | strings.Title }}</h3>
    <div class="mt-4">
      <span id="pagecount" class="examples-pagecount mr-2">{{ len .context.Pages }}</span> 
      examples found.
    </div>
  {{ end }}
  {{ if eq $sectionWithoutBase "score" }}
    <div class="{{ if len .context.Pages }}mt-4{{ end }}">
      {{ with site.GetPage .section }}
        <div>
          <h3>{{ index $labels 0 }}</h3>
          {{ $names := slice }}
          {{ $dataDirectory := ( replace (index $labels 0 | urlize) "-" "" ) }}
          {{ range readDir (print $folder "/specification") }}
            {{ if .IsDir }}
              {{ $names = $names | append (.Name | humanize) }}
            {{ end }}
          {{ end }}
          {{ range sort ($names | uniq) }}
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="check-{{ $dataDirectory }}-{{ . | urlize }}" 
                value="{{ . | urlize }}" 
                data-directory="{{ $dataDirectory }}"
              />
              <label class="form-check-label" for="check-{{ $dataDirectory }}-{{ . | urlize }}">
                {{ . }}
              </label>
            </div>
          {{ end }}
        </div>
        <div class="mt-4">
          <h3>{{ index $labels 1 }}</h3>
          {{ $names := slice }}
          {{ $dataDirectory = ( replace (index $labels 1 | urlize) "-" "" ) }}
          {{ range readDir (print $folder "/resources") }}
            {{ if and .IsDir (not (hasPrefix .Name ".")) }}
              {{ $subfolder := print $folder "/resources/" .Name }}
              {{ range readDir $subfolder }}
                {{ if and .IsDir (not (hasPrefix .Name ".")) }}
                  {{ $names = $names | append (.Name | humanize) }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ range sort ($names | uniq) }}
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="check-{{ $dataDirectory }}-{{ . | urlize }}" 
                value="{{ . | urlize }}" 
                data-directory="{{ $dataDirectory }}"
              />
              <label class="form-check-label" for="check-{{ $dataDirectory }}-{{ . | urlize }}">
                {{ . }}
              </label>
            </div>
          {{ end }}
        </div>
        <div class="mt-4">
          <h3>{{ index $labels 2 }}</h3>
          {{ $names := slice }}
          {{ $dataDirectory = ( replace (index $labels 2 | urlize) "-" "" ) }}
          {{ range readDir (print $folder "/resources") }}
            {{ if .IsDir }}
              {{ $names = $names | append (.Name | humanize) }}
            {{ end }}
          {{ end }}
          {{ range sort ($names | uniq) }}
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="check-{{ $dataDirectory }}-{{ . | urlize }}"  
                value="{{ . | urlize }}" 
                data-directory="{{ $dataDirectory }}"
              />
              <label class="form-check-label" for="check-{{ $dataDirectory }}-{{ . | urlize }}">
                {{ $words := split . " " }}
                {{ $text := cond (gt (len $words) 1) (delimit (first (sub (len $words) 1) $words) " ") . }}
                {{ $text }}
              </label>
            </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    {{ end }}
    {{ if eq $sectionWithoutBase "patch-templates" }}
      <div class="{{ if len .context.Pages }}mt-4{{ end }}">
        {{ with site.GetPage .section }}
        <div>
          <h3>{{ index $labels 0 }}</h3>
          {{ $names := slice }}
          {{ $dataDirectory := ( replace (index $labels 0 | urlize) "-" "" ) }}
            {{ range readDir $folder }}
            {{ if and .IsDir (not (hasPrefix .Name ".")) }}
              {{ $names = $names | append .Name }}
            {{ end }}
          {{ end }}
          {{ range sort ($names | uniq) }}
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                id="check-{{ $dataDirectory }}-{{ . | urlize }}" 
                value="{{ . | urlize }}" 
                data-directory="{{ $dataDirectory }}"
              />
              <label class="form-check-label" for="check-{{ $dataDirectory }}-{{ . | urlize }}">
                {{ . }}
              </label>
            </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    {{ end }}
</div>