+++
title = "Score documentation"
linkTitle = "Score documentation"
+++

{{< blocks/cover title="Welcome to the Score documentation site." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/Humanitec/score-docs">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Score Specification</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Cat
: Fluffy animal everyone likes

Internet
: Vector of transmission for pictures of cats \
Don't forget the blank line between the terms
: You can use multiple definition lines
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/Humanitec/score-docs" %}}
We do a [Pull Request](https://github.com/Humanitec/score-docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
