+++
title = "Score documentation"
linkTitle = "Score documentation"
+++

{{< blocks/cover title="Welcome to the Score documentation site." image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Take me to the docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/orgs/score-spec/repositories">
		Take me to the repos <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Score Specification</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Score
: Score provides a developer-centric and platform-agnostic Workload specification to improve developer productivity and experience.

Platform CLI tool
: The Platform CLI is a conversion tool for developers and teams to generate an environment specific configurations.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="A new specification!" %}}
The Score Specification file resolves configuration mismanagement between environments.

Compose a `score.yaml` file to describe your Workloads.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/orgs/score-spec/repositories" %}}
[Pull Request](https://github.com/orgs/score-spec/repositories) contributions are always welcomed on our **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/score-spec" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
